<section class="slider">
	<div class="prevnext">
		<div class="prev" id="prev">
		</div>
		<div class="next" id="next">
		</div>
		<span class="tide"></span>
	</div>
	<div class="slide-wrapper">
		<div id="slider-main">
			<div><img src="/images/slider/slider-img01.jpg" alt=""></div>
			<div><img src="/images/slider/slider-img01.jpg" alt=""></div>
			<div><img src="/images/slider/slider-img01.jpg" alt=""></div>
			<div><img src="/images/slider/slider-img01.jpg" alt=""></div>
			<div><img src="/images/slider/slider-img01.jpg" alt=""></div>
		</div>		
	</div>
	<div class="pager">
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</div>		
</section>