<%= form_for Coach.new, :html => { :multipart => true }, remote: "true"  do |f| %>
 
  
  
  <%= f.file_field :avatar %>
  <%= hidden_field_tag :id,  current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
